button {
  width: 250px;
  height: 80px;
  font-family: sans-serif;
  font-weight: bold;
  border: 2px solid rgb(57, 64, 100);
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
  font-size: 35px;
}

button:hover {
  color: black;
  background-color: rgb(134, 42, 19);
}

.boton-clic {
  background-color: rgb(29, 77, 61);
  color: white;
}

.boton-reiniciar {
  background-color: rgb(94, 93, 29);
  color: white;
}
