* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 20px;
  font-family: sans-serif;
}

.josel-logo {
  height: 200px;
}

html,
body {
  background-image: url(./img/Prueba2.jpg);
  background-size: cover;
}

.contenedor-logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.contenedor-contador-botones {
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social {
  /*las imágenes usadas tienen width de 48px*/
  width: 100px;
  position: fixed;
  right: 0;
}

.prueba {
  width: 80px;
  height: 100px;
}
